.sampleInputOutput {
  margin: 5px;
  padding: 5px;
  top: 78vh;
  left: 46vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
}
.testInstructions {
  height: 500px;
  max-width: 50vw;

}