@import '../../pageStyles/constants';

button {
  width: 180px;
  height: 60px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
  padding: 5px;
  border-width: 5px;
  border-color: $softwireYellow;
  border-style: solid;
  text-decoration: none;
  background: transparent;
  color: $softwireYellow;
  font-family: $softwireFont;
  font-size: $buttonFontSize;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:hover,
button:focus {
  background: $softwireYellow;
  color: $softwireBlack;
}
.buttonYellow {
  border-style: solid;
  background-color: $softwireYellow;
  color: $softwireBlack;
  font-size: $buttonFontSize;
  justify-content: center;
  padding: 3px;
  font-family: Open Sans, sans-serif;
}
.buttonYellow:hover,
.buttonYellow:focus {
  background: transparent;
  color: $softwireYellow;
}
