@import '../../pageStyles/constants';
.buttonYellow {
  width: 180px;
  height: 60px;
  margin-top: 20px;
  padding: 3px;
  border: 5px solid $softwireYellow;
  color: $softwireBlack;
  font-family: $softwireFont;
  font-size: $buttonFontSize;
  text-align: center;
  transition: all 250ms ease;
  background: $softwireYellow;

  &:hover, &:active {
    background: transparent;
    color: $softwireYellow;
  }
}
.buttonBlack {
  width: 180px;
  height: 60px;
  margin-top: 20px;
  padding: 3px;
  border: 5px solid $softwireYellow;
  color: $softwireYellow;
  font-family: $softwireFont;
  font-size: $buttonFontSize;
  text-align: center;
  transition: all 250ms ease;
  background: transparent;

  &:hover, &:active {
    background: $softwireYellow;
    color: $softwireBlack;
  }
}