
//Site Colours
$softwireBlack: rgb(24, 24, 24);
$softwireYellow: rgb(255, 193, 0);
$softwireWhite: rgb(255, 255, 255);

//Fonts
$softwireFont: Open Sans, sans-serif;
$desktopHeaderFontSize: 60px;
$desktopSubHeaderFontSize: 36px;
$buttonFontSize: 27px;

