//Site Colours
$techSwitchBlack: rgb(24, 24, 24);
$techSwitchYellow: rgb(255, 193, 0);
$techSwitchWhite: rgb(255, 255, 255);

$errorMessage:rgb(226,25,100);
//Fonts
$techSwitchFont: Open Sans, sans-serif;

    $desktopHeaderFontSize: 2rem;
    $desktopSubHeaderFontSize: 1.5rem;
    $desktopBodyFontSize: 1.2rem;

    $mediaLowResMaxWidth: 900px;
    $lowResHeaderFontSize: 1.3rem;
    $lowResSubHeaderFontSize: 1rem;
    $lowResBodyFontSize: 0.8rem;

//Buttons
@mixin techSwitchButton($backgroundColour: $techSwitchBlack, $inverseColour: $techSwitchYellow, $fontSize: $desktopBodyFontSize) {
    width: 180px;
    height: 1.3em;
    margin-top: 20px;
    padding: 3px;
    display: inline-block;
    block-size: auto;
    border: 5px solid $techSwitchYellow;
    color: $inverseColour;
    font-family: $techSwitchFont;
    font-size: $fontSize;
    text-align: center;
    text-decoration: none;
    transition: all 250ms ease;
    background: $backgroundColour;


    &:hover, &:active {
      background: $inverseColour;
      color: $backgroundColour;
    }
  }


