@import "constants";

.welcome {
  color: $softwireYellow;
  font-size: $desktopHeaderFontSize;
  max-width: $welcomeHeaderWidth;
  margin: 5px;
  padding: 5px;
}

a {
  width: 135px;
  height: 30px;
  margin: 30px;
  text-decoration: none;
  align-items: center;
  text-align: center;
  border-width: 9px;
  border-color: $softwireYellow;
  border-style: solid;
  background-color: $softwireYellow;
  color: $softwireBlack;
  font-size: $buttonFontSize;
  justify-content: center;
  padding: 5px;
  font-family: Open Sans, sans-serif;
}

.content {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3px;
  font-family: Open Sans, sans-serif;
  text-decoration: none;
  text-align: center;
}

.instructionsHeader {
  color: $softwireWhite;
  font-size: $desktopSubHeaderFontSize;
  margin-top: 24px;
  margin-bottom: 12px;
  padding: 5px;
}

.instructions {
  color: $softwireWhite;
  font-size: $buttonFontSize;
  justify-content: left;
  text-align: left;
  padding: 5px;
  margin-top: 12px;
  margin-bottom: 24px;
  margin-right: 5px;
  margin-left: 5px;
  max-width: $welcomeHeaderWidth;
}




