@import "constants";

html,
body {
  @include Background();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.welcome {
  @include LargeHeaderYellow();
}

a {
  @include Buttons($softwireYellow, $softwireBlack);
}

