@import "constants";

.layout {
  @include Background();
}

.logoHeader {
  max-width: 60px;
  padding: 5px;
  margin: 2px;
  align-self: flex-start;
}

section, div, h1, .content {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.content, h1, a {
  justify-content: center;
  align-items: center;
  padding: 1px;
  font-family: Open Sans, sans-serif;
  text-decoration: none;
}

a#buttonYellow.buttonYellow {
  @include Buttons($softwireYellow, $softwireBlack)
}

.content {
  justify-content: stretch;
}


