@import "constants";

.layout {
  @include Background();
}

.logoHeader {
  max-width: 50px;
  padding: 5px;
  
}

section, div, h1, .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.content, h1, a {
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-family: Open Sans, sans-serif;
  text-decoration: none;
}

a#buttonYellow.buttonYellow {
  @include Buttons($softwireYellow, $softwireBlack)
}

