@import "constants";

.submitHeader {
  color: $techSwitchYellow;
  font-size: $desktopHeaderFontSize;
}

.thankyou {
  color: $techSwitchYellow;
  font-size: $desktopHeaderFontSize;
}

.submitMessage {
  color: $techSwitchWhite;
  font-size: $desktopSubHeaderFontSize;
}

.content {
  width: 100%;
  height: 50vh;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3px;
  font-family: Open Sans, sans-serif;
  text-decoration: none;
}


//Media Queries

@media (max-width: $mediaLowResMaxWidth){
  //Low Resolution 900px and below
  .submitHeader {
    font-size: $lowResHeaderFontSize;
    max-width: 80vw;
    margin: 0.2em;
    padding: 0.5rem;
  }
  .thankyou {
    font-size: $lowResSubHeaderFontSize;
    max-width: 80vw;
    margin: 0.2em;
    padding: 0.5rem;
  }
  .submitMessage {
    font-size: $lowResBodyFontSize;
    line-height: 150%;
    max-width: 80vw;
    margin: 0.2em;
    padding: 0.5rem;
  }

}
