@import "constants";

.submitHeader {
  color: $techSwitchYellow;
  font-size: $desktopHeaderFontSize;
}

.thankyou {
  color: $techSwitchYellow;
  font-size: $desktopHeaderFontSize;
}

.submitMessage {
  color: $techSwitchWhite;
  font-size: $desktopSubHeaderFontSize;
  max-width: 600px;
}

.content {
  width: 100vw;
  max-height: 700px;
  min-height: 400px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  padding: 3px;
  font-family: Open Sans, sans-serif;
  text-decoration: none;
}


//Media Queries

@media (max-width: $mediaLowResMaxWidth){
  //Low Resolution 900px and below
  .submitHeader {
    font-size: $lowResHeaderFontSize;
    margin: 0.2em;
    padding: 0.5rem;
  }
  .thankyou {
    font-size: $lowResSubHeaderFontSize;
    margin: 0.2em;
    padding: 0.5rem;
  }
  .submitMessage {
    font-size: $lowResBodyFontSize;
    line-height: 150%;
    margin: 0.2em;
    padding: 0.5rem;
  }

}
