@import '../../pageStyles/constants';

.layout {
  background-color: $techSwitchBlack;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-style: none;
  font-family: $techSwitchFont;
}

body {
  margin: 0;
}
  
.logoHeader {
  width: 20rem;
  padding: 1rem;
  margin: 1rem;
  align-self: flex-start;
}

.layoutHeader {
  width: 100vw;
  text-align: left;
}

@media (min-width: $mediaHighResMinWidth){
  .logoHeader {
    //High Resolution 2000px and above
    width: 25rem;
  }
}
@media (max-width: $mediaLowResMaxWidth){
  .logoHeader {
    //Low Resolution 800px and below
    width: 12rem;
  }
}


