@import '../../pageStyles/constants';

.layout {
  background-color: $softwireBlack;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  border-style: none;
  font-family: $softwireFont;
}
body {
  margin: 0;
}
.logoHeader {
  width: 100px;
  padding: 15px;
  margin: 6px;
  align-self: flex-start;
}

@media (min-width: 768px){
  .logoHeader{
    width: 200px;
  }
}