@import '../../pageStyles/constants';

.layout {
  background-color: $techSwitchBlack;
  box-sizing: border-box;
  border-style: none;
  font-family: $techSwitchFont;
  max-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

.logoHeader {
  box-sizing: border-box;
  width: 180px;
  padding: 0.2rem;
  margin: 0.2rem;
  align-self: flex-start;
}
