@import '../../pageStyles/constants';

.layout {
  @include Background();
}
body {
  margin: 0;
}
.logoHeader {
  max-width: 180px;
  padding: 15px;
  margin: 6px;
  align-self: flex-start;
}

div {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
