﻿@import "../../pageStyles/constants";
.testPage {
  box-sizing: border-box;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 70px;
}

.testTitle {
  box-sizing: border-box;
  color: $techSwitchYellow;
  font-size: $desktopHeaderFontSize;
  white-space: nowrap;
  position: absolute;
  top: 1px;
  right: 100px;
  margin-right: 1px;
  text-align: right;
}


        @media (max-width: $mediaLowResMaxWidth){
          //Low Resolution 900px and below
          .testPage {
            box-sizing: border-box;
            max-height: 100vh;
            max-width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
          }

          .testTitle {
            font-size: $lowResHeaderFontSize;
            white-space: normal;
            overflow-wrap: break-spaces;
            position: absolute;
            top: 1px;
            right: 1px;
            padding: 0;
            margin: 0;
            text-align: right;
          }
          .buttonYellow{
            @include techSwitchButton($techSwitchYellow, $techSwitchBlack, $lowResBodyFontSize);
            width: 120px;
          }
        }


