﻿@import "../../pageStyles/constants";
.testPage {
  box-sizing: border-box;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.testInstructions {
  box-sizing: border-box;
  height: 500px;
  max-width: 50vw;

}
.instructionList {
  box-sizing: border-box;
}

.testInstructionsHeader {
  box-sizing: border-box;
  color: $techSwitchWhite;
  font-size: $desktopSubHeaderFontSize;
}

.testInstructions {
  box-sizing: border-box;
  color: $techSwitchWhite;
  white-space: pre-wrap;
  font-size: $bodyFontSize;
  justify-content: left;
  text-align: left;
  width: 40vw;
  line-height: 1.5;
 
}

.textEditor {
  box-sizing: border-box;
  color: $techSwitchWhite;
  font-size: $desktopButtonFontSize;
  margin-top: 5vh;
  margin-right: 1vw;
  width: 50vw;
}

.testTitle {
  box-sizing: border-box;
  color: $techSwitchYellow;
  font-size: $desktopHeaderFontSize;
  max-width: 40vw;
  white-space: nowrap;
  overflow-wrap: break-spaces;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  margin: 0.5rem;
}

//Media Queries

        @media (min-width: $mediaHighResMinWidth){
          //High Resolution 2000px and above
          .welcome {
            font-size: $highResHeaderFontSize;
          }
          .instructionsHeader {
            font-size: $highResSubHeaderFontSize;
            margin-top: 2vh;
            margin-bottom: 0.8vh;
            padding: 2.5rem;
          }
          .instructions {
            font-size: $highResBodyFontSize;
            padding: 2rem;
            margin-top: 1vh;
            margin-bottom: 0.8vh;
          }
          .testTitle {
            font-size: $highResSubHeaderFontSize;
            margin-top: 0.5vh;
            margin-bottom: 0.8vh;
            padding: 2.5rem;
          }
          .buttonYellow{
            @include techSwitchButton($techSwitchYellow, $techSwitchBlack, $highResButtonFontSize);
            min-width: 15vw;
            margin: 3rem;
          }
        }
        @media (max-width: $mediaLowResMaxWidth){
          //Low Resolution 900px and below
          .welcome {
            font-size: $lowResHeaderFontSize;
            max-width: 80vw;
            margin: 0.2em;
            padding: 0.5rem;
          }
          .instructionsHeader {
            font-size: $lowResSubHeaderFontSize;
            margin-top: 0.75vh;
            margin-bottom: 0.4vh;
            padding: 0.25rem;
          }
          .instructions {
            font-size: $lowResBodyFontSize;
            padding: 0.8rem;
            margin: 0.8vh 0.2vw;
            max-width: 80vw;
          }
          .testTitle {
            font-size: $lowResSubHeaderFontSize;
            margin-right: 3.8rem;
            margin-top: 1.5rem;
            
          }
          .buttonYellow{
            @include techSwitchButton($techSwitchYellow, $techSwitchBlack, $lowResButtonFontSize);
            max-width: 40vw;
          }
        }


