@import '../../pageStyles/constants';

.test{
  background-color: skyblue;
}

.stepperBtnContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}