@import '../../pageStyles/constants';

.stepperBtn {
  width: 135px;
  height: 30px;
  margin: 30px;
  text-decoration: none;
  align-items: center;
  text-align: center;
  border-width: 9px;
  border-color: $softwireYellow;
  border-style: solid;
  background-color: $softwireYellow;
  color: $softwireBlack;
  font-size: $buttonFontSize;
  justify-content: center;
  padding: 3px;
  font-family: Open Sans, sans-serif;
}