@import "../../pageStyles/constants";
.editorBox {
  border-style: solid;
  border-width: 5px;
  width: fit-content;
  border-color: $techSwitchYellow;
}

.buttonBlack{
  @include techSwitchButton()
}