@import "../../pageStyles/constants";
.editorBox {
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  min-width: 700px;
  max-width: 2200px;
  width: 50vw;
  border-color: $techSwitchYellow;
  color: $techSwitchWhite;
  font-size: $desktopBodyFontSize;
  margin-right: 5rem;
  padding: 0;
}

.buttonBlack{
  @include techSwitchButton();
  display: block;
}

@media (max-width: $mediaLowResMaxWidth) {
  //Low Resolution 900px and below
  .editorBox {
    box-sizing: border-box;
    border-width: 0.2rem;
    width: 300px;
    margin: 0;
    padding: 0;
  }

  .buttonBlack{
    font-size: $lowResBodyFontSize;
    border-width: 0.2rem;
    max-width: 150px;
  }
}

.error{
  color: $errorMessage;
}
